
* {
  box-sizing: border-box;
}

/* header */

.navegador {
position: fixed;
overflow: hidden;
}


.navbar-brand img{
  border-radius: 5%;
  max-width: 150px;
}


/* header */

.container-fluid .row{
/* background-color:red; */
/* width: 100%; */
/* margin: 0 auto; */

}

.container-fluid .row .category-path h6 ul {
  display: flex;
  /* background-color: grey; */

}
.container-fluid .row .category-path h6 ul li {
list-style-type: none;
padding-left: 50px;

}

.container-fluid .row a{
/* width: 100%; */
/* padding: 32px; */
/* margin-left: 20px; */
/* display: flex; */
display: flex;
}

.container-fluid .row .product-photo  {
margin: 0 auto;
width: 100%;
/* align-items: center; */
/* max-width: 600px; */
/* display: flex; */
height: 500px;
}
.container-fluid .row .product-photo a {
/* margin: 0 auto; */
/* align-items: center; */
/* width: 100%;
max-width: 600px; */
overflow:hidden;

}

.container-fluid .row .product-photo a:hover img{
/* margin: 0 auto; */
/* align-items: center; */
/* width: 100%;
max-width: 600px; */
-webkit-transform:scale(1.3);transform:scale(1.3);


}


.container-fluid .row .product-photo a img {
/* margin: 0 auto; */
/* align-items: center; */
/* width: 100%;
max-width: 600px; */
width: 100%;
height: 500px;
}

.product-photos-min {
  /* background-color: yellow; */
  width: 100%
  }

.product-photos-min ul{
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 0px;
}
.row .product-photos-min ul li{
  list-style-type: none;
  /* align-items: center; */
  margin: 10px;
}
.row .product-photos-min ul a{
/* margin=0 auto;
align-items: center; */
}

.product-photos-min ul li a img{
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  border-style: solid;

}

.product-info{
  /* background-color: grey; */
  margin: 0 auto;
  width: 100%;
height: 100%;
/* padding-bottom: 5%; */
}


.product-info .product-short-description .product-brand {
/* display: flex; */
  margin: 0 auto;
  width: 20%;
  /* height: 10%;
  margin-top: 20px;
  align-items: center; */
}

.product-info .product-short-description .product-brand a img{

  /* margin: 0 auto; */
  width: 100%;
  height: 100%;

  align-items: center;
  margin-top: 30%;
}

.product-info .product-short-description .product-name{
  /* display: flex; */
    margin: 0 auto;
width: 60%;
}

.product-info .product-short-description .product-name h1 {
  /* display: flex;
align-items: center; */
margin-top: 5%;
/* width: 70%; */
}

.product-info .product-short-description .product-name h1 p{
  /* display: flex; */

text-align: center;

}

.product-info .product-short-description .product-stock{
  display: flex;
}
.product-info .product-short-description .product-stock p{
  margin: 0 auto;
  /* background-color: black; */
font-size: 35px;
/* background-color: green; */
border-radius: 5%;
border-style: groove;
}

.product-info .product-short-description .product-stock p::after{
  /* margin: 0 auto; */
content: url('../images/check1.png');
/* background-color: green; */

/* display:block; */
}


.product-tipos-disp {
  /* background-color: blue; */
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;

  }

.product-tipos-disp ul{
  display: flex;
  width: 100%;
  /* min-width: 40px; */
  margin: 0 auto;
  /* padding: 0px; */
  flex-wrap: wrap;
  justify-content: center;
}
.product-tipos-disp ul li{
  list-style-type: none;
  /* align-items: center; */
  /* margin: 10px; */

}
.product-tipos-disp ul a{
/* margin=0 auto;
align-items: center; */
}

.product-tipos-disp ul li a img{
  width: 50%;
  height: 50%;
  /* margin: 0 auto; */
  border-style: solid;
    /* min-width: 40px;  */
/* min-width: 30px; */
}

.product-info .product-short-description .product-price{

display: flex;
}

.product-info .product-short-description .product-price p{
margin: 0 auto;

  /* margin-bottom: 5%; */
  font-family: sans-serif;
  font-size: 40px;
}

.product-info .product-short-description .product-button-comprar{
  display: flex;
  /* margin-top: 5%; */
  /* margin-bottom: 5%; */
  width: 30%;
  margin: 0 auto;
margin-top: 5px;
}

.product-info .product-short-description .product-button-comprar a{
margin: 0 auto;
color: white;
font-size: 20px;
text-decoration: none;
background-color: black;
border-radius: 15%;
padding-left: 10px;
padding-right: 10px;

padding-top: 5px;
padding-bottom: 5px;

}

.product-info .product-short-description .product-button-comprar a:hover{

background-color: green;
}

.descripcion {
margin-top: 10px;
}

 .descripcion h3{
text-align: center;
  /* background-color: red; */
padding-left: 0px;
margin-left: 0px;
}
